.right-detail-box {
    padding-bottom: 15px;
    > div {
      line-height: 45px;
      color: #46494c;
      padding: 0 5px;
    }
  }
  .right-detail-input {
    position: relative;
    > input {
      height: 50px;
      width: 156px;
      border: 1px solid #ff5656;
      margin-right: 5px;
      color: #ff5656;
      font-size: 22px;
      font-weight: bold;
      padding-left: 5px;
      &:focus {
        outline: none;
      }
    }
    .position-num {
      position: absolute;
    }
  }
  .save-account {
    padding: 8px 0;
    font-size: 13px;
    margin: 8px 0;
    color: #46494c;
  }
  .account-height {
    height: 54px;
    > div {
      line-height: 50px !important;
      > span {
        font-weight: bold;
      }
    }
  }
  .pint-type {
    padding: 10px 0 10px 17px;
    line-height: 30px;
    font-size: 13px;
    span {
      cursor: pointer;
    }
  }
  .pay-btn {
    background: #ef8205;
    text-align: center;
    color: #fff;
    width: 100%;
    padding: 11px 0;
    outline: none;
    border: none;
    cursor: pointer;
    &:hover {
      background: #ff8c00;
    }
    &:focus {
      background-color: #ff8c00;
    }
  }
  .set-pint-btn{
    font-size: 20px;
    cursor: pointer;
  }
  .cash-assets {
    width: 47%;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 18px;
    &:first-child {
      border: 1px solid #00b2a1;
      color: #00b2a1;
    }
    &:last-child {
      border: 1px solid #33b300;
      color: #33b300;
    }
    &:hover {
      opacity: 0.9;
    }
    .iconfont {
      font-size: 21px !important;
    }
    span {
      position: relative;
      top: -2px;
      left: 5px;
    }
  }
  .cash-assets-cash-active {
    background: #00b2a1;
    color: #fff !important;
  }
  .cash-assets-scan-active {
    background: #33b300;
    color: #fff !important;
  }
  .right-font-18 {
    font-size: 18px;
  }
  .right-small-font {
    display: inline-block;
    padding-right: 5px;
    font-size: 14px;
  }
  .right-big-font {
    font-size: 22px;
  }
  .right-font-20 {
    font-size: 20px;
  }
  .right-detail-input {
    position: relative;
    border: 1px solid #ff5656;
    color: #ff5656;
    min-width: 145px;
    > input {
      height: 73px;
      border: none;
      text-align: right;
      color: #ff5656;
      font-size: 28px;
      font-weight: bold;
      padding-right: 5px;
      &:focus {
        outline: none;
      }
    }
  }
  .right-detail-input-active {
    border: 2px solid #ff5656;
  }
  .money-icon {
    position: relative;
    bottom: -5px;
  }
  .prompting-icon{
    position: relative;
    right:4px;
  }