.cl-container{
  font-family:Microsoft YaHei, Arial, sans-serif, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB;
  .el-form-item__label {
    padding: 0 12px 0 0 !important;
    color: #777C82;
  }
  i{font-style:normal}
  .el-button--small{padding: 7px 15px;font-family: 'MicrosoftYaHei' !important;}
  .cl-color1{background: #FADB14;border: solid 1px #FADB14;}
  .cl-color2{background: #CC4141;border: solid 1px #CC4141;}
  position: relative;
  padding: 16px 16px 0 16px;
  height: calc(100vh - 74px);
  .el-dialog__title{font-size: 14px;}
  .el-dialog__footer{padding: 35px 20px 20px 20px}
  .warningBox{
    .el-dialog__header{background: #AD8B00}
    .warnInfo{
      text-align: center;
      color: #777C82;
      font-size: 16px;
      >i{color: #AD8B00;font-size: 18px;}
    }
  }
  >div:first-child {
    background: #fff;height: inherit;
    padding: 16px;
  }
  .cl-inlineItem{
    display: flex;
    padding-bottom: 32px;
    width: 90%;position: relative;
    .cl-label{font-size: 14px;line-height: 30px;color: #777C82;text-align: right;width: 75px;}
    >.el-input, >.el-select{flex: 1;}
  }
  .operation1{ color: #00B3A1;font-size: 13px;margin: 10px}
  .operation2{ color: #FF3D3D;font-size: 13px;margin: 10px}
  .el-table thead tr th{ background: #F0F2F5}
  .getUpDown{ font-size: 14px;color: #00B3A0;display: inline-block;margin-left: 20px;cursor: pointer}
  .dialogFooter{text-align: center;padding-top: 30px;}

}

.cl-container1{
  >div:first-child {
    .cl-searchCont{
      padding: 0px 0px 25px 0px;
      >label{color: #777C82;font-size: 14px;}
      .el-input{width: 50%;}
      .cl-search{margin-left: 20px;}
    }
    .cl-orn-searchCont{width: 50%}
    .cl-operation1{width: 50%;text-align: right;
      .el-button{margin-left: 20px;}
    }
  }
  .cl-baseImg{position: absolute;top: 50%;margin-top: -147px;right: 12%}
}
.cl-container2 {
  .cl-inlineItem .cl-label{width: 75px;}
  .el-table .warning-row {
    background: #FFCCC7;color: #FF3D3D;
  }
}
.cl-container3 {
  >div:first-child {padding: 16px 130px 16px 50px}
  .el-input, .el-select {width: 100%;}
  .footBox{
    position: absolute;bottom: 0;text-align: center;width: 100%;
    label{position: absolute;left: 0;bottom: 25px;left: 50px;}
  }
  .fileBoxHeight{height: 320px;overflow:auto;}
  .fileBox {
    padding: 0;
    li{
      img{width: 100%;height: 100%}
      width: 130px;height: 130px;list-style: none;float: left;border: solid 1px #D8E2E7;margin-right: 24px;position: relative;margin-bottom: 30px;
      p{width: 100%;height:100%;overflow: hidden;margin: 0;text-align: center;line-height: 130px;}
      i {display: block;width: 100%;text-align: center;color: #00B3A1;font:normal 14px/25px '';text-decoration: underline;cursor: pointer}
    }
  }
  .el-dialog__header{
    background-color:#fff !important;
  }
  .el-dialog__close{
    color: #333 !important;font-size: 24px;
  }
  .cl-image-viewer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    text-align: center;
    .el-image-viewer__canvas{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    img{
      max-height: 100%; max-width: 100%;
      position:absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .cl-image-viewer__mask{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .5;
    background: #000;
    cursor: pointer;
  }
  .on .el-input__inner, .on .el-input__inner:focus{border: solid 1px red;}
}
