.totalMoney {
    font-size: 14px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    line-height: 17px;
    color: rgba(255, 61, 61, 1) !important;
    opacity: 1;
  }
  .totalMoney input.el-input__inner {
    color: rgba(255, 61, 61, 1) !important;
    
  }
  .el-input-group__append{
    color: #9CA3A6 !important;
}