.typeChekTab {
    height: 42px;padding: 0 24px;box-shadow: 1px 1px 5px #cecece;-webkit-box-shadow: 1px 1px 5px #cecece;margin: -16px 0 28px -16px;line-height: 50px;
    width: calc(100% + 32px);
    .el-radio{
        width: 20%;color: #777C82;
    }
  
}